div {font-family:"Papirus", "Open Sans", sans-serif;}

#container {
    width: 1024px;

    margin: 0 auto;
    /*
    1valore: -> su tutti e quattro i lati
    2valori: -> 1ò sopra/sotto 2ò dx/sx
    3valori: -> 1ò sopra 2ò dx/sx 3ò sotto
    4valori: -> top right bottom left
    */
}

footer {
    width: 1024px;

    margin: 0 auto;
}

a {
    color: #107777;
    ;
}

header {

    text-align: center;
    /* left, right, center */
    text-indent: 2em;
    /* rientro della prima linea */

}

#logo {
    height: 15%;
    width: 15%;
}

.presentation {
    float: top;
    padding-right: 10px;
    width: fit-content;
}
li{
    margin-bottom: 5px;
}
.subtitle {

    border-top: 1px solid #FFD877;
    padding: 1%;
    background-color: #FDFBF1;
    color: #004D4C;
    font-size: 90%;
    border-bottom: 1px;
    margin-top: 2%;
}

.feat {
    color: red;
    margin-bottom: 0px;
}

#feat {

    padding-left: 2%;
    border-left: 1px solid #FFD877;
}

.subtitle strong {
    font-style: bold;
    font-weight: 1000;
}

.sectitle {
    font-weight: 900;
    font-style: bold;
    font-size: larger;
    padding-bottom: 15px;
    border-bottom: 1px solid #C4F3F2;
}

h1 {
    font-style: bold;
    font-weight: bolder;
    font-size: 270%;
    text-align: center;
    
}

.listitle {
    font-style: bold;
    font-weight: bolder;

}

.topsec {
    padding-left: 500px;
    padding: 10px 0px;
    font-size: 20px;
    text-align: center;
}

#focaccia {
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(141, 141, 141, 0.4);
    width: 1024px;
    height: 768px;
}

.underimage {
    color: #999999;
}
.metlist :first-child{
    font-style: bold;
    font-weight: bolder;
    margin-bottom: 15px;
}
.metlist :last-child{
    list-style-type: none;
    
}