<div class="row">
  <div class="col-12">
    <div class="image-fluid faction">
      <img src={{logo}} alt="logo">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6" *ngFor="let p of faction">
    <div
      class="card mb-3 text-bg-dark battle"
      [ngClass]="{
        'bg-success': p.available,
        'bg-danger': !p.available
      }"
      style="max-width: 100%"
    >
      <img
        src="{{ p.modelImage }}"
        class="card-img img-fluid battle-img"
        alt="{{ p.model }}"
        style="height: 50vh; object-fit: cover;"
      />
      <div
        class="card-img-overlay d-flex flex-column justify-content-end battle-overlay"
        [ngClass]="{
          'text-success': p.available,
          'text-danger': !p.available
        }"
      >
        <h5 class="card-title">{{ p.brand }}</h5>
        <p class="card-text">{{ p.model }}</p>
        <p class="card-text">Vittorie in battaglia: {{ p.year }}</p>
        <p class="card-text">Nemici sconfitti: {{ p.price }}</p>
      </div>
    </div>
  </div>
</div>
