<h2>Vota il tuo Gundam Preferito!!</h2>
<div class="row" *ngIf="randGun.length > 0">
  <div class="col-12 col-md-6 col-lg-3" style="max-width: 300px" *ngFor="let p of brands"  >
    <div class="image-fluid">
      <img src="{{ p.brandLogo }}" alt="logo" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6" *ngFor="let p of randGun">
    <div
      class="card mb-3"
      style="max-width: 900px"
      [ngClass]="{
        'bg-success': p.available,
        'bg-danger': !p.available
      }"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ p.modelImage }}"
            class="img-fluid rounded-start"
            alt="logo"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ p.brand }}</h5>
            <p class="card-text">{{ p.model }}</p>
            <a class="btn btn-primary" [routerLink]="['/faction', p.brand]">{{
              p.brand
            }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-bg-dark " style="max-width: 900px">
      <img
        src="{{ p.modelImage }}"
        class="img-fluid rounded-start"
        alt="logo"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">{{ p.brand }}</h5>
        <p class="card-text">{{ p.model }}</p>
        <a class="btn btn-primary" [routerLink]="['/faction', p.brand]">{{
          p.brand
        }}</a>
      </div>
    </div>
  </div>
</div>
