
<div class="container text-center my-5">
  <h2>Gundam Breaker Tournament</h2>
  <div class="row mt-3" *ngIf="randGun.length > 0">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let p of brands">
      <a [routerLink]="['/faction', p.brand]">
        <div class="card loghi">
          <div class="card-body text-center">
            <img
              src="{{ p.brandLogo }}"
              alt="logo"
              class="img-fluid brand-logo"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<h2 class="text-center">I migliori Gundam</h2>
<div class="row">
  <div class="col-12 col-md-6" *ngFor="let p of randGun">
    <div
      class="card mb-3 text-bg-dark battle"
      [ngClass]="{
        'bg-success': p.available,
        'bg-danger': !p.available
      }"
      style="max-width: 100%"
    >
      <img
        src="{{ p.modelImage }}"
        class="card-img img-fluid battle-img"
        alt="{{ p.model }}"
        style="height: 50vh; object-fit: cover"
      />
      <div
        class="card-img-overlay d-flex flex-column justify-content-end battle-overlay"
        [ngClass]="{
          'text-success': p.available,
          'text-danger': !p.available
        }"
      >
        <h5 class="card-title">{{ p.brand }}</h5>
        <p class="card-text">{{ p.model }}</p>
        <a
          class="btn"
          [ngClass]="{
            'btn-success': p.available,
            'btn-danger': !p.available
          }"
          [routerLink]="['/faction', p.brand]"
          >Gundam {{ p.brand }}</a
        >
      </div>
    </div>
  </div>
</div>
