<footer>
  <div class="container-fluid">
    <div class="row py-5 border-top bg-black text-light justify-content-around">
      <div class="col">
        <h5 class="text-center">Section</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2">
            <a routerLink="/movies" class="nav-link p-0 text-secondary">Movies</a>
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/utente" class="nav-link p-0 text-secondary">Personal page</a>
          </li>
          <li class="nav-item mb-2">
            <a routerLink="/users" class="nav-link p-0 text-secondary">All users</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
